# TARGET
IP=<TARGET_IP_MASKED>
PROTOCOL=http
PORT=0

# TOKEN AKUN UJI
TOKEN_APPROVER=Bearer <TOKEN_MASKED>
TOKEN_OPERATOR_TRANSAKSI=Bearer <TOKEN_MASKED>
TOKEN_OPERATOR_DATA=Bearer <TOKEN_MASKED>

# DATA UJI
DATA_ID=<DATA_ID_MASKED>
DATA_DATE=2026-07-30

# PAYLOAD
PAYLOAD_FILE_1=payloads/payload-1.bin
PAYLOAD_FILE_2=payloads/payload-2.bin

# JUMLAH USER
APPROVER_THREADS=64
OPERATOR_TRANSAKSI_THREADS=12
OPERATOR_DATA_THREADS=4

# RAMP-UP
RAMP_UP=16

# THINK TIME
APPROVER_THINK_TIME_MS=3000
OPERATOR_TRANSAKSI_THINK_TIME_MS=3000
OPERATOR_DATA_THINK_TIME_MS=3000

# TIMEOUT
CONNECT_TIMEOUT_MS=10000
RESPONSE_TIMEOUT_MS=60000
